@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #f57224;
  --primary-bg: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-bg);
  font-weight: 400;
  min-height: 100vh;
  /* font-size: 1.6rem; */
}
a,
li {
  outline: none;
  text-decoration: none;
  list-style: none;
  line-height: 0;
}
/* smartphone banner */
.banner-smart {
  width: 100%;
  padding-bottom: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 20px;
  background-image: url(https://img.lazcdn.com/us/media/6580f7302a1ee502afc5242cb07c8447-750-148.png);
}

/* smartphone header search */

.smart-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  background: #fff;
  border: 0.13333vw solid #fe4960;
  border-radius: 5.33333vw;
  height: 8.8vw;
  > .smart-search-icon {
    background-image: url(//img.lazcdn.com/g/tps/imgextra/i2/O1CN01nrro7I1gAIzF6ilUX_!!6000000004101-2-tps-126-126.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 5.6vw;
    width: 5.6vw;
  }
  > .smart-search-input {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    > input {
      background: transparent;
      border: 0;
      color: #111;
      font-size: 3.2vw;
      height: 100%;
      line-height: 4.53333vw;
      outline: none;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
  > .smart-search-btn {
    border: 0;
    background: linear-gradient(90deg, #ff933f, #f93782 69%, #f93782);
    border-radius: 4.4vw;
    color: #fff;
    font-size: var(--i-fontsize_content_regular);
    font-weight: 500;
    height: 7.2vw;
    line-height: 7.2vw;
    text-align: center;
    font-size: 3.2vw;
    width: 16vw;
  }
}

/* Menu smart phone */

.menu-smart {
  background-color: #fff;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-smart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 5px;
  > .menu-smart-icon {
    height: 6.4vw;
    overflow: hidden;
    vertical-align: middle;
    width: 8vw;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  > .menu-smart-text {
    color: #595f6d;
  }
}

/* Header pc */
#header {
  background: #fff;
  position: sticky;
  top: -30px;
  z-index: 1;
}

.header-top {
  min-width: 100%;
  height: 30px;
  background-color: #f7f7f7;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}
.header-top ul {
  display: flex;
  justify-content: end;
  gap: 35px;
}

.header-top ul li a {
  font-size: 12px;
  color: #0f1568;
}
.header-top ul li:first-child a {
  color: var(--primary-color);
}

.header-top ul li:nth-last-child(-n + 3) a {
  color: #9e9e9e;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px 0 40px 0;
}

.logo {
  height: 40px;
  width: 127px;
  > img {
    width: 100%;
    height: 100%;
  }
}

.search {
  position: relative;
  width: 688px;
  height: 45px;
  background-color: #eff0f5;
  padding: 13px 19px;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  > .search-input {
    outline: none;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
  > .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
  }
}

.throw {
  width: 188px;
  height: 45px;
  > img {
    width: 100%;
    height: 100%;
  }
}

.slide {
  height: 100%;
  width: 100%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.download-module {
  height: 100%;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)),
    linear-gradient(179.27deg, #ffedd6 0.83%, #ffc3e3 46.78%, #fff 99.57%),
    linear-gradient(0deg, #fff, #fff);
  padding: 5px;
}

.module-title {
  display: flex;
  gap: 10px;
  align-items: center;
  > .img-logo {
    width: 42px;
    height: 42px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  > span {
    font-size: 14px;
    font-weight: 500;
    color: #6c1d00;
  }
}

.module-content {
  background-image: url(https://img.lazcdn.com/g/tps/imgextra/i2/O1CN01tceZus1IewufOY1tZ_!!6000000000919-2-tps-364-316.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 158px;
  margin-top: 6px;
  overflow: hidden;
  width: 100%;
}

.score {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-top: 8px;
  > .star {
    font-size: 10px;
  }
  > .rate {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 2px;
    max-width: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.enjoy-tip {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  min-height: 30px;
  > .enjoy-text {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    max-width: 164px;
    text-align: center;
  }
}

.free-voucher {
  margin-top: 6px;
  padding-left: 33px;

  > .icon-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    &:last-child {
      margin-top: 6px;
    }
    > img {
      height: 36px;
      width: 36px;
    }
    > span {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 15px;
      margin-left: 9px;
      max-width: 82px;
    }
  }
}

.module-qr {
  margin-top: 6px;
  > .qr-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    > .qr-img {
      background: #fff;
      height: 90px;
      margin-right: 6px;
      overflow: hidden;
      width: 90px;
      > img {
        display: inline-flex;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
  }
  > span {
    color: #2e3346;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 4px;
    margin-top: 6px;
  }
}

.btn-dowload {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
  > .btn-app-store {
    background-image: url(https://img.lazcdn.com/g/tps/imgextra/i4/O1CN01uAl8kB1wEv2DNjdhB_!!6000000006277-2-tps-125-36.png);
    background-size: 100% auto;
    height: 24px;
    width: 83px;
  }
  > .btn-google-play {
    background-image: url(https://img.lazcdn.com/g/tps/imgextra/i1/O1CN01QJGFfc1S0mKngu4rQ_!!6000000002185-2-tps-125-36.png);
    background-size: 100% auto;
    height: 24px;
    width: 83px;
  }
}

/* channel smart phone */
.card-channel {
  padding: 24px 0;
}

.channel-content {
  overflow-x: scroll;

  > .channel-row {
    display: flex;
    white-space: nowrap;
    > .channel-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      text-align: center;
      width: 18.4vw;
      > .channel-icon {
        height: 12vw;
        width: 12vw;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      > .channel-name {
        width: 100%;
        color: #111;
        padding-top: 8px;
        font-size: 2.66667vw;
        white-space: wrap;
      }
    }
  }
}

.channel-row:not(:last-child) {
  margin-bottom: 30px;
}

/* channel pc */

.channel {
  cursor: pointer;
  width: 100%;
  max-height: 130px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  border-radius: 10px;
  > .channel-info {
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    > img {
      width: 138px;
      height: 24px;
    }
    > .channel-name {
      font-size: 16px;
      margin-top: 10px;
      color: #000;
    }
  }

  > .channel-img {
    width: 138px;
    height: 130px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
}

.channel:hover .channal-name-lazmail {
  color: #f52424;
}
.channel:hover .channal-name-voucher {
  color: var(--primary-color);
}
.channel:hover .channal-name-topup {
  color: #50e3e0;
}

.header-card {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  > .header-card-title {
    color: #424242;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* flash sale smart phone */
.card-fs-smart {
  background: #fff;
  padding: 0 10px;
  > .card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    > .card-more {
      display: flex;
      align-items: center;
      gap: 5px;
      > .card-more-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  gap: 10px;
  > .card-fs-item {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    > .fs-arrow {
      background: url(//img.lazcdn.com/g/tps/imgextra/i3/O1CN01PhPpIg1EHoElt2E3v_!!6000000000327-2-tps-129-108.png);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      font-weight: 700;
      height: 9.6vw;
      left: 0;
      position: absolute;
      top: 0;
      width: 11.46667vw;
      z-index: 2;
      > .fs-arrow-text {
        color: #ffe9ed;
        font-size: 16px;
        line-height: 2.8vw;
        padding-left: 1.86667vw;
        padding-top: 1.06667vw;
      }
      > .fs-arrow-num {
        color: #fff;
        font-size: 16px;
        line-height: 4.4vw;
        margin-top: -0.4vw;
        padding-left: 2.26667vw;
      }
    }
    > .card-fs-img {
      height: 27.46667vw;
      overflow: hidden;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    > .card-fs-price {
      color: #fe4960;
      flex-direction: row;
      font-size: 4vw;
      font-weight: 700;
      height: 4.8vw;
      line-height: 4.8vw;
    }
    > .fs-origin-price {
      color: #858b9c;
      flex-direction: row;
      font-size: 2vw;
      line-height: 3.2vw;
      text-decoration-line: line-through;
    }
    > .fs-progress {
      background: #ffb6bf;
      border-radius: 2vw;
      font-size: 2.66667vw;
      height: 4vw;
      line-height: 4vw;
      position: relative;
      width: 24vw;
      > .fs-progress-val {
        background: #fe4960;
        border-radius: 2vw;
        color: #fff;
        height: 100%;
        left: 0;
        padding-left: 1.6vw;
        position: absolute;
        top: 0;
        white-space: nowrap;
      }
    }
  }
}

/* flash sale pc */
.flash-sale {
  background: #fff;
}

.fs-content {
  > .fs-content-header {
    padding: 0 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .fs-content-header-left {
      display: flex;
      gap: 80px;
      align-items: center;
      > .fs-content-header-left-text {
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 500;
      }
      > .fs-content-header-left-time {
        display: flex;
        align-items: center;
        gap: 10px;
        > .fs-time-count {
          padding: 12px;
          background: #d3232a;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
        }
      }
    }
    > .fs-content-header-right {
      > a {
        border-radius: 2px;
        border: 1px solid var(--primary-color);
        padding: 10px 20px;
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.fs-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding-bottom: 20px;
  > .fs-products-item {
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    > .fs-products-item-img {
      > img {
        width: 100%;
      }
    }
    > .fs-products-item-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
      > .fs-products-item-info-name {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.fs-products-item-info-price {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}
.fs-products-item-origin-price {
  font-size: 12px;
  > .item-price {
    text-decoration: line-through;
    color: #9e9e9e;
  }
}

.laz-mall {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  > .laz-mall-item {
    background: #fff;
    position: relative;
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    > .ls-overlay {
      background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
      height: 36px;
      left: 0;
      opacity: 0.25;
      position: absolute;
      top: 152px;
      width: 100%;
    }
    > .lm-item-img {
      width: 100%;
      > img {
        width: 100%;
        height: 188px;
      }
    }
    > .lm-body {
      > .shop-img {
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        display: block;
        height: 52px;
        margin: -25px auto 0;
        overflow: hidden;
        padding: 4px;
        position: relative;
        width: 52px;
        > img {
          width: 100%;
        }
      }
      > .shop-name {
        padding-bottom: 10px;
        > .shop-name-h1 {
          color: #212121;
          font-size: 14px;
          line-height: 18px;
          margin: 8px 8px 4px;
        }
        > .shop-name-p {
          color: #9e9e9e;
          font-size: 12px;
          line-height: 14px;
          margin: 0 8px;
        }
      }
    }
  }
}
.shop-name .shop-name-h1,
.shop-name .shop-name-p {
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categories {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #fff;
  > .categories-item {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 100%;
    & :nth-child(n + 9) {
      border-bottom: none;
    }
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    > img {
      width: 80px;
      height: 80px;
    }
    > .categories-item-name {
      font-size: 14px;
      text-align: center;
      margin: 8px 12px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.categories-item:nth-child(n + 9) {
  border-bottom: none;
}
.categories-item:nth-child(8n) {
  border-right: none;
}

.products-fy-item {
  background: #fff;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  > .pfy-image {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  > .pfy-info {
    padding: 5px;

    > .pfy-info-name {
      font-size: 14px;
      line-height: 18px;
      color: #212121;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      > .icon-channel {
        display: inline-block;
        height: 16px;
        max-height: 16px;
        width: auto;
        > img {
          display: inline-block;
          height: auto;
          max-height: 100%;
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          width: auto;
        }
      }
    }
    > .pfy-info-price {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 8px;
      > .item-price {
        color: var(--primary-color);
        font-size: 18px;
        line-height: 22px;
      }
      > .item-discount {
        color: #212121;
        font-size: 12px;
        line-height: 16px;
        margin-left: 8px;
      }
    }

    > .pfy-info-rating {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 8px;
      > .stars {
        display: flex;
        flex-direction: row-reverse;
        font-size: 9px;
        color: #faca51;
      }
      > .purchases {
        color: #9e9e9e;
        font-size: 12px;
      }
    }
  }
}

.pfy-load-more-btn {
  padding: 24px 0 9px 0;
  > button {
    border: 1px solid #1a9cb8;
    color: #1a9cb8;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 387px;
  }
}

.spinner-container {
  height: 16vw;
  margin: 2.66667vw auto 0;
  padding: 2.66667vw;
  width: 16vw;
  > .coming-img {
    display: inline-flex;
    > img {
      display: inline-block;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: auto;
    }
  }
}

.banner-bottom {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  > .banner-bottom-item {
    width: 100%;
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
    > img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-first {
  padding: 24px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  > .footer-first-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > .footer-first-left-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      > .footer-title {
        color: #0f136d;
        font-size: 16px;
        font-weight: 300;
        line-height: 35px;
      }
      > .footer-list {
        display: flex;
        flex-direction: column;
        > li {
          > a {
            color: #0f136d;
            font-size: 12px;
            font-weight: 300;
            line-height: 24px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  > .footer-first-right {
    display: flex;
    gap: 50px;
    > .dowload-app {
      display: flex;
      gap: 10px;
      > img {
        width: 42px;
        height: 42px;
      }
      > .dowload-app-content {
        display: flex;
        flex-direction: column;
        > .dowload-app-text-title {
          color: var(--primary-color);
          font-size: 16px;
        }
        > .dowload-app-text-text {
          color: #0f136d;
          font-size: 14px;
          font-weight: 300;
          padding-top: 2px;
        }
      }
    }
  }
}
.lzd-footer-h3 {
  color: #183544;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2em;
  margin-bottom: 15px;
}

.footer-second {
  background-color: #fff;
  padding: 24px 0;
  > .footer-second-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.payments {
  > .payments-img {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}

.sevices-img {
  display: flex;
  column-gap: 10px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.verified-img {
  display: flex;
  column-gap: 20px;
}
.verified-img-left,
.verified-img-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-third {
  padding: 24px 0;
}

.footer-third-content,
.footer-third-left,
.footer-third-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 74px;
}

.footer-third-left-item-text {
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.footer-third-left-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-third-rigth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 74px;
}

.footer-third-rigth-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ftr-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  > .ftr-h3 {
    color: #606060;
    font-size: 11px;
    font-weight: 300;
  }
  > .ftr-line {
    font-size: 12px;
    color: rgb(136, 136, 136);
  }
}

.footer-fourth {
  padding: 40px 0;
  background: #fff;
}

.ff-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  > .ff-content-left {
    > .veture-list {
      display: flex;
    }
  }
  > .ff-content-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > .ffcr-left > .flow-us-icon-list {
      display: flex;
    }
    > .ffcr-right {
      display: flex;
      justify-content: flex-end;
      > .copy-right {
        color: #606060;
        float: right;
        font-size: 14px;
        font-weight: 200;
        line-height: 30px;
      }
    }
  }
}
